# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

##--Explicit Items
/build-linux/
/build-msvc/
/systemc-2.3.4/
/uvm-systemc-1.0-beta5/

##--MSVS Items Need
.vs/
Debug/
Release/
x64/

##
##--end of file
##
/build-msvc/untrack-and-ignore.text
